
#Toolbar{
    background: var(--color-cinza-claro);
    margin-bottom: 20px;
    border-radius: 5px;
    
}

#separador{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#sign-out{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 15px;
    background: none;
    color: black;
    border-style: none;
}
#ajuda{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 10px;
    margin-left: 6px;
    font-size: 15px;
    margin-right: 6px;
    background: none;
    color: black;
    border-style: none;
}
#logo{
    margin-right: 10px;
}
#avin{
    margin-right: 10px;
}
#usuario{
    font-size: 17px;
    color: green;
    font-weight: bold;
    margin-right: 15px;
}
